

##
NET "clk50" LOC = T8 | TNM_NET = sys_clk_pin | IOSTANDARD = "LVCMOS33";
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;
##

##
NET reset_n                     LOC = L3 | IOSTANDARD = "LVCMOS33"; ## Reset Button
##


########RS232 SerialPin define#####################
NET rs232_rx1                   LOC = B12 | IOSTANDARD = "LVCMOS33";		
NET rs232_tx1                   LOC = A13 | IOSTANDARD = "LVCMOS33"; 		  

########RS422 SerialPin define#####################
NET rs422_rx1                    LOC = D16 | IOSTANDARD = "LVCMOS33";		
NET rs422_tx1                    LOC = E15 | IOSTANDARD = "LVCMOS33"; 


NET rs422_rx2                    LOC = B15 | IOSTANDARD = "LVCMOS33";		
NET rs422_tx2                    LOC = B16 | IOSTANDARD = "LVCMOS33"; 	
