//! **************************************************************************
// Written by: Map P.20131013 on Tue May 02 10:49:48 2017
//! **************************************************************************

SCHEMATIC START;
PIN PLL_inst/clkout1_buf_pin<1> = BEL "PLL_inst/clkout1_buf" PINNAME O;
PIN "PLL_inst/clkout1_buf_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
PIN PLL_inst/clkout2_buf_pin<1> = BEL "PLL_inst/clkout2_buf" PINNAME O;
PIN "PLL_inst/clkout2_buf_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "da2_data<10>" LOCATE = SITE "C16" LEVEL 1;
COMP "da2_data<11>" LOCATE = SITE "C15" LEVEL 1;
COMP "da2_data<12>" LOCATE = SITE "B16" LEVEL 1;
COMP "da2_data<13>" LOCATE = SITE "B15" LEVEL 1;
COMP "clk" LOCATE = SITE "T8" LEVEL 1;
COMP "da1_data<0>" LOCATE = SITE "A12" LEVEL 1;
COMP "da1_data<1>" LOCATE = SITE "A11" LEVEL 1;
COMP "da1_data<2>" LOCATE = SITE "B10" LEVEL 1;
COMP "da1_data<3>" LOCATE = SITE "A10" LEVEL 1;
COMP "da1_data<4>" LOCATE = SITE "A9" LEVEL 1;
COMP "da1_data<5>" LOCATE = SITE "C8" LEVEL 1;
COMP "da1_data<6>" LOCATE = SITE "A8" LEVEL 1;
COMP "da1_data<7>" LOCATE = SITE "B8" LEVEL 1;
COMP "da1_data<8>" LOCATE = SITE "A7" LEVEL 1;
COMP "da1_data<9>" LOCATE = SITE "A6" LEVEL 1;
COMP "da1_wrt" LOCATE = SITE "B12" LEVEL 1;
COMP "da1_clk" LOCATE = SITE "A13" LEVEL 1;
COMP "da2_wrt" LOCATE = SITE "B14" LEVEL 1;
COMP "da2_clk" LOCATE = SITE "A14" LEVEL 1;
COMP "da2_data<0>" LOCATE = SITE "G16" LEVEL 1;
COMP "da2_data<1>" LOCATE = SITE "F16" LEVEL 1;
COMP "da2_data<2>" LOCATE = SITE "F15" LEVEL 1;
COMP "da2_data<3>" LOCATE = SITE "E16" LEVEL 1;
COMP "da2_data<4>" LOCATE = SITE "D11" LEVEL 1;
COMP "da2_data<5>" LOCATE = SITE "C10" LEVEL 1;
COMP "da2_data<6>" LOCATE = SITE "E11" LEVEL 1;
COMP "da1_data<10>" LOCATE = SITE "B6" LEVEL 1;
COMP "da2_data<7>" LOCATE = SITE "C9" LEVEL 1;
COMP "da1_data<11>" LOCATE = SITE "A5" LEVEL 1;
COMP "da2_data<8>" LOCATE = SITE "E15" LEVEL 1;
COMP "da1_data<12>" LOCATE = SITE "B5" LEVEL 1;
COMP "da2_data<9>" LOCATE = SITE "D16" LEVEL 1;
COMP "da1_data<13>" LOCATE = SITE "A4" LEVEL 1;
PIN
        ROM_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "ROM_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
TIMEGRP PLL_inst_clkfx = BEL "rom_addr_0" BEL "rom_addr_1" BEL "rom_addr_2"
        BEL "rom_addr_3" BEL "rom_addr_4" BEL "rom_addr_5" BEL "rom_addr_6"
        BEL "rom_addr_7" BEL "rom_addr_8" BEL "rom_addr_9" PIN
        "ROM_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        BEL "da1_clk" BEL "da1_wrt" BEL "da2_clk" BEL "da2_wrt" BEL
        "PLL_inst/clkout2_buf";
PIN SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0> = BEL "SP6_BUFIO_INSERT_ML_BUFIO2_0"
        PINNAME DIVCLK;
PIN PLL_inst/dcm_sp_inst_pins<3> = BEL "PLL_inst/dcm_sp_inst" PINNAME CLKIN;
TIMEGRP sys_clk = PIN "SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0>" PIN
        "PLL_inst/dcm_sp_inst_pins<3>";
TS_sys_clk = PERIOD TIMEGRP "sys_clk" 50 MHz HIGH 50%;
TS_PLL_inst_clkfx = PERIOD TIMEGRP "PLL_inst_clkfx" TS_sys_clk * 2.5 HIGH 50%;
SCHEMATIC END;

